$menuSize: 355px; // 顶部操作栏高度
$headSize: 60px; // 菜单列表高度
$operatorSize: 275px; // 右侧编辑详情宽度

$ibc: #dcdfe6; // border color 边框颜色
$ibl: #ebeef5; //border color 边框颜色，轻
$itc: #314659; // text color,字体颜色

$icc: rgba(0, 0, 0, 0.45); //图标颜色
$boxShadowColor: #f0f1f2; // 阴影颜色
$primary: #409eff;

.visual-editor {
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: white;
    &::before {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(black, 0.1);
        content: "";
    }
    & > .visual-editor-menu {
        position: absolute;
        width: $menuSize;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: white;
        & > .visual-editor-menu-item {
            display: flex;
            position: relative;
            width: calc(100%-20px);
            margin-left: 10px;
            border: solid 3px $ibc;
            margin-top: 20px;
            min-height: 120px;
            align-items: center;
            justify-content: center;
            padding: 10 20px;
            box-sizing: border-box;
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: "";
                z-index: 2;
            }
            &:hover {
                border-color: $primary;
                cursor: move;
            }
            .visual-editor-menu-item-label {
                position: absolute;
                top: -3px;
                left: -3px;
                background-color: $primary;
                color: white;
                padding: 0 20px;
                font-size: 15px;
                z-index: 1;
            }
        }
    }
    & > .visual-editor-head {
        position: absolute;
        top: 0;
        left: $menuSize;
        right: $operatorSize;
        height: $headSize;
    }
    & > .visual-editor-operator {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: $operatorSize;
        background-color: white;
    }
    & > .visual-editor-body {
        position: relative;
        padding-top: $headSize;
        padding-left: $menuSize;
        padding-right: $operatorSize;
        box-sizing: border-box;
        background-color: rgba(white, 0.3);
        height: 100%;
        & > .visual-editor-content {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            & > .visual-editor-container {
                position: relative;
                background-color: white;
                & > .visual-editor-block {
                    position: absolute;
                    &::after {
                        $space:3px;
                        position: absolute;
                        top: -$space;
                        left: -$space;
                        right: -$space;
                        bottom: -$space;
                        content:'';
                    }
                    &.visual-editor-block-focus {
                        &::after {
                            border: 1px dashed $primary;
                        }
                    }
                }
            }
        }
    }
}
